@model WebBatDongSan_DKCN.Models.SanPham

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
Delete form mẫu
<div class="container-fluid dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Xóa Sản Phẩm</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="Index" class="breadcrumb-link">Quản Lý Sản Phẩm</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Xóa Sản Phẩm</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <h3> Đây là thông tin chi tiết sản phẩm hiện tại. Bạn có chắc chắn muốn xóa sản phẩm này không?</h3>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->

    <div class="row">
        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <div class="card-header p-4">
                    <h4 class="mb-0">Thông Tin Sản Phẩm</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <!-- Tiêu Đề Sản Phẩm -->
                        <dt class="col-sm-3">Tiêu Đề:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.TieuDeSanpham)</dd>

                        <!-- Mô Tả -->
                        <dt class="col-sm-3">Mô Tả:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.MoTaSanpham)</dd>

                        <!-- Giá -->
                        <dt class="col-sm-3">Giá:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.GiaSanPham)</dd>

                        <!-- Diện Tích -->
                        <dt class="col-sm-3">Diện Tích:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.DienTich)</dd>

                        <!-- Ngày Đăng -->
                        <dt class="col-sm-3">Ngày Đăng:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.NgayDang)</dd>

                        <!-- Hình Ảnh -->
                        <dt class="col-sm-3">Hình Ảnh 1:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Img1)</dd>

                        <!-- Hình Ảnh 2 -->
                        <dt class="col-sm-3">Hình Ảnh 2:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Img2)</dd>

                        <!-- Hình Ảnh 3 -->
                        <dt class="col-sm-3">Hình Ảnh 3:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Img3)</dd>

                        <!-- Hình Ảnh 4 -->
                        <dt class="col-sm-3">Hình Ảnh 4:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Img4)</dd>

                        <!-- Hình Ảnh 5 -->
                        <dt class="col-sm-3">Hình Ảnh 5:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Img5)</dd>

                        <!-- Chiều Dài -->
                        <dt class="col-sm-3">Chiều Dài:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Chieudai)</dd>

                        <!-- Chiều Ngang -->
                        <dt class="col-sm-3">Chiều Ngang:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Chieungang)</dd>

                        <!-- Số Lầu -->
                        <dt class="col-sm-3">Số Lầu:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.SoLau)</dd>

                        <!-- Số Phòng Ngủ -->
                        <dt class="col-sm-3">Số Phòng Ngủ:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.SoPhongNgu)</dd>

                        <!-- Phòng Ăn -->
                        <dt class="col-sm-3">Phòng Ăn:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.PhongAn)</dd>

                        <!-- Nhà Bếp -->
                        <dt class="col-sm-3">Nhà Bếp:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.NhaBep)</dd>

                        <!-- Sân Thượng -->
                        <dt class="col-sm-3">Sân Thượng:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.SanThuong)</dd>

                        <!-- Chỗ Để Xe Hơi -->
                        <dt class="col-sm-3">Chỗ Để Xe Hơi:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.ChoDeXeHoi)</dd>

                        <!-- Địa Chỉ -->
                        <dt class="col-sm-3">Địa Chỉ:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.DiaChi)</dd>

                        <!-- Đường Phố -->
                        <dt class="col-sm-3">Đường Phố:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.IdDuongphoNavigation.IdDuongpho)</dd>

                        <!-- Giấy Tờ Tài Liệu -->
                        <dt class="col-sm-3">Giấy Tờ Tài Liệu:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.IdGiaytoTailieuNavigation.IdGiaytoTailieu)</dd>

                        <!-- Loại Bất Động Sản -->
                        <dt class="col-sm-3">Loại Bất Động Sản:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.IdLoaibdsNavigation.IdLoaibds)</dd>

                        <!-- Loại Tin -->
                        <dt class="col-sm-3">Loại Tin:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.IdLoaitinNavigation.IdLoaitin)</dd>

                        <!-- Phương Hướng -->
                        <dt class="col-sm-3">Phương Hướng:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.IdPhuonghuongNavigation.IdPhuonghuong)</dd>

                        <!-- Phường Xã -->
                        <dt class="col-sm-3">Phường Xã:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.IdPhuongxaNavigation.IdPhuongxa)</dd>

                        <!-- Quận Huyện -->
                        <dt class="col-sm-3">Quận Huyện:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.IdQuanhuyenNavigation.IdQuanhuyen)</dd>

                        <!-- Tỉnh Thành -->
                        <dt class="col-sm-3">Tỉnh Thành:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.IdTinhthanhNavigation.IdTinhthanh)</dd>

                        <!-- Trạng Thái -->
                        <dt class="col-sm-3">Trạng Thái:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.IdTrangthaiNavigation.IdTrangthai)</dd>

                        <!-- User ID -->
                        <dt class="col-sm-3">User ID:</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.IdUserNavigation.IdUser)</dd>
                    </dl>
                </div>
                <!-- Nút Thao Tác -->
                <div class="card-footer text-right">
                    <form asp-action="Delete" method="post">
                        <input type="hidden" asp-for="IdSanpham" />
                        <button type="submit" class="btn btn-danger">Xóa Sản Phẩm</button>
                        <a asp-action="Index" class="btn btn-primary">Quay lại danh sách</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
