<div class="container ">
    <!--== Start Features Area Wrapper ==-->
    <div class="features-area ">
        <div class="row mb-n8 mt-n2 ">
            <div class="col-sm-6 col-md-6 col-lg-3 mb-6 ">
                <!--== Start Feature Item ==-->
                <div class="feature-item ">
                    <div class="feature-icon ">
                        <img src="/static/images/icons/1.png " width="44 " height="38 " alt="Icon ">
                    </div>
                    <div class="feature-content ">
                        <h4 class="feature-title text-white ">Hỗ Trợ 24/7</h4>
                        <p>Hỗ trợ tận tình 24/7</p>
                    </div>
                </div>
                <!--== End Feature Item ==-->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-6 ">
                <!--== Start Feature Item ==-->
                <div class="feature-item ">
                    <div class="feature-icon ">
                        <img src="/static/images/icons/2.png " width="38 " height="38 " alt="Icon ">
                    </div>
                    <div class="feature-content ">
                        <h4 class="feature-title text-white ">Trả hàng dễ dàng</h4>
                        <p>Mua sắm Dễ Dàng</p>
                    </div>
                </div>
                <!--== End Feature Item ==-->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-6 ">
                <!--== Start Feature Item ==-->
                <div class="feature-item ">
                    <div class="feature-icon ">
                        <img src="/static/images/icons/3.png " width="48 " height="38 " alt="Icon ">
                    </div>
                    <div class="feature-content ">
                        <h4 class="feature-title text-white ">Thanh toán bằng thẻ</h4>
                        <p>Trả góp 12 tháng</p>
                    </div>
                </div>
                <!--== End Feature Item ==-->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mb-6 ">
                <!--== Start Feature Item ==-->
                <div class="feature-item border-0 ">
                    <div class="feature-icon ">
                        <img src="/static/images/icons/4.png " width="50 " height="38 " alt="Icon ">
                    </div>
                    <div class="feature-content ">
                        <h4 class="feature-title text-white ">Miễn phí vận chuyển</h4>
                        <p>Tối đa 100k VNĐ cho mỗi đơn hàng</p>
                    </div>
                </div>
                <!--== End Feature Item ==-->
            </div>
        </div>
    </div>
    <!--== End Features Area Wrapper ==-->

    <!--== Start Footer Main ==-->
    <div class="footer-main ">
        <div class="row mb-n6 ">
            <div class="col-md-6 col-lg-2 mb-6 ">
                <div class="widget-item ">
                    <h4 class="widget-title ">Thông tin</h4>
                    <h4 class="widget-title widget-collapsed-title collapsed " data-bs-toggle="collapse "
                        data-bs-target="#widgetTitleId-1 ">Thông tin</h4>
                    <div id="widgetTitleId-1 " class="collapse widget-collapse-body ">
                        <ul class="widget-nav ">
                            <li><a href="account.html ">Thông tin giao hàng</a></li>
                            <li><a href="contact.html ">Chính sách bảo mật</a></li>
                            <li><a href="contact.html ">Điều khoản & Điều kiện</a></li>
                            <li><a href="contact.html ">Chính sách vận chuyển</a></li>
                            <li><a href="contact.html ">Thanh toán </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 offset-lg-1 ps-xl-4 mb-6 ">
                <div class="widget-item ">
                    <h4 class="widget-title ">Tài khoản</h4>
                    <h4 class="widget-title widget-collapsed-title collapsed " data-bs-toggle="collapse "
                        data-bs-target="#widgetTitleId-2 ">Tài khoản</h4>
                    <div id="widgetTitleId-2 " class="collapse widget-collapse-body ">
                        <ul class="widget-nav ">
                            <li><a href="account.html ">Tài khoản của tôi</a></li>
                            <li><a href="account.html ">Đơn hàng của tôi</a></li>
                            <li><a href="account.html ">Trả lại</a></li>
                            <li><a href="account.html ">Vận chuyển</a></li>
                            <li><a href="shop-wishlist.html ">Danh sách Yêu Thích </a></li>
                            <li><a href="account.html ">Đăng ký tài khoản</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 offset-lg-1 ps-xl-0 mb-6 ">
                <div class="widget-item ">
                    <h4 class="widget-title ">Cửa hàng</h4>
                    <h4 class="widget-title widget-collapsed-title collapsed " data-bs-toggle="collapse "
                        data-bs-target="#widgetTitleId-3 ">Cửa hàng</h4>
                    <div id="widgetTitleId-3 " class="collapse widget-collapse-body ">
                        <ul class="widget-nav ">
                            <li><a href="shop.html ">Liên kết</a></li>
                            <li><a href="shop.html ">Sách bán chạy nhất</a></li>
                            <li><a href="shop.html ">Sản Phẩm Giảm giá</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-6 offset-lg-1 ">
                <div class="widget-item ">
                    <h4 class="widget-title ">Liên hệ với chúng tôi</h4>
                    <h4 class="widget-title widget-collapsed-title collapsed " data-bs-toggle="collapse "
                        data-bs-target="#widgetTitleId-4 ">Liên hệ với chúng tôi</h4>
                    <div id="widgetTitleId-4 " class="collapse widget-collapse-body ">
                        <div class="widget-contact ">
                            <p class="widget-contact-desc ">Nếu bạn có bất kỳ câu hỏi nào, vui lòng liên hệ với chúng
                                tôi <a href="mailto://demo@example.com ">Nhom5ConBao@gmail.com</a></p>
                            <div class="widget-info-item mb-6 ">
                                <img src="/static/images/icons/pin.png " alt="Icon ">
                                <p>196 Hoàng Hữu Nam, Long Thạch Mỹ, Thành Phố Thủ Đức</p>
                            </div>
                            <div class="widget-info-item ">
                                <img src="/static/images/icons/mobile.png " alt="Icon ">
                                <div class="info-item-call ">
                                    <a href="tel://+0123456789 "> + 0 336 656 538 </a>
                                    <a href="tel://+0129456789 "> + 0 336 656 538 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--== End Footer Main ==-->

    <!--== Start Footer Bottom ==-->
    <div class="footer-bottom ">
        <p class="copyright ">© 2025 Nắm Giữ Bản Quyền Website <i class="fa fa-heart "></i> Thuộc <a target="_blank "
                href="https://themeforest.net/user/hastech/portfolio ">Nhom5ConBao</a></p>
        <a href="shop.html "><img src="/static/images/shop/payment.png " alt="Image-HasTech "></a>
    </div>
    <!--== End Footer Bottom ==-->
</div>