<ul class="main-nav">
      <li class="main-nav-item has-submenu"><a class="main-nav-link" href="/home">Trang Chủ</a>
      </li>
      <li class="main-nav-item"><a class="main-nav-link" href="about">Thành Viên</a></li>
      <li class="main-nav-item has-submenu position-static"><a class="main-nav-link" href="/product">Sản Phẩm </a>
      </li>
      <li class="main-nav-item has-submenu"><a class="main-nav-link" href="/blog">Bài Viết </a>
      </li>
      <li class="main-nav-item"><a class="main-nav-link" href="/lienhe">Liên Hệ</a></li>
</ul>