<!DOCTYPE html>
<html class="no-js" lang="zxx">


<!-- Mirrored from htmldemo.net/elehaus/elehaus/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Jun 2024 08:39:27 GMT -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Elehaus- Electronics eCommerce Website Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&amp;family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&amp;display=swap"
        rel="stylesheet">

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="/static/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="/static/css/plugins/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/plugins/simple-line-icons.css">
    <link rel="stylesheet" href="/static/css/plugins/fancybox.min.css">
    <link rel="stylesheet" href="/static/css/plugins/nice-select.css">
    <link rel="stylesheet" href="/static/css/plugins/range-slider.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

</head>

<body>
    <!--== Wrapper Start ==-->
    <div class="wrapper">
        <main class="main-content">
            <!--== Start Login Wrapper ==-->
            <div class="login-register-area section-space">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-5 d-flex flex-column align-items-center ">
                            <div class="login-register-content">
                                <div class="login-register-title mb-30">
                                    <h3>Login</h3>
                                    <p>Welcome back! Please enter your username and password to login.</p>
                                </div>
                                <div class="login-register-style login-register-pr w-100">
                                    <form action="#" method="post">
                                        <div class="login-register-input mb-3">
                                            <input type="text" name="user-name" placeholder="Username or email address"
                                                class="form-control ">
                                        </div>
                                        <div class="login-register-input mb-3">
                                            <input type="password" name="user-password" placeholder="Password"
                                                class="form-control ">
                                            <div class="forgot text-end mt-2">
                                                <a href="login-register.html">Forgot?</a>
                                            </div>
                                        </div>
                                        <div class="remember-me-btn d-flex justify-content-center mb-3">
                                            <input id="remember-me-checkbox" type="checkbox">
                                            <label for="remember-me-checkbox" class="ms-2">Remember me</label>
                                        </div>
                                        <div class="btn-register">
                                            <a class="btn-register-now btn btn-primary w-100"
                                                href="account.html">Login</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--== End Login Wrapper ==-->
        </main>
    </div>

    <!--== Wrapper End ==-->

    <!-- JS Vendor, Plugins & Activation Script Files -->

    <!-- Vendors JS -->
    <script src="/static/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="/static/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/static/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="/static/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="/static/js/plugins/swiper-bundle.min.js"></script>
    <script src="/static/js/plugins/fancybox.min.js"></script>
    <script src="/static/js/plugins/jquery.nice-select.min.js"></script>
    <script src="/static/js/plugins/jquery.countdown.min.js"></script>
    <script src="/static/js/plugins/isotope.pkgd.min.js"></script>

    <!-- Custom Main JS -->
    <script src="/static/js/main.js"></script>

</body>


<!-- Mirrored from htmldemo.net/elehaus/elehaus/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 Jun 2024 08:39:27 GMT -->

</html>